<span class="example-spacer"></span>
<form (ngSubmit)="onSubmit()" [formGroup]="playerSearch">
    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Server</mat-label>
        <mat-select formControlName="formServer">
            <mat-option *ngFor="let server of serversList" [value]="server.id">{{ server.name }}</mat-option>
        </mat-select>
        <mat-error>
            Server must be selected
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Player name</mat-label>
        <input matInput type="text" formControlName="formPlayerNickname" [matAutocomplete]="auto">
        <mat-error>
            Must be at least 3 characters long
        </mat-error>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let option of autocomplete" [value]="option">
                    {{ option }}
                </mat-option>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field>
</form>